* {
    margin: 0;
    padding: 0;
    font-family: Bungee, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/pitch-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .logo {
    padding: 10px;
    margin-top: 20px;
  }
  
  .logo-link {
    text-decoration: none;
    color: #D1D3D4;
  }
  
  .welcome-message {
    color: #D1D3D4;
  }

  /* ------ Container ------ */

.container {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* ------- buttons ------- */
  
  .btn {
    font-size: large;
    box-shadow: 0 6px 12px -2px rgba(#D1D3D4, .15);
    background-color: rgba(3, 70, 148, 0.5);
    color: rgb(238, 36, 44, 0.8);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .btn a {
    text-decoration: none;
    color: rgb(238, 36, 44, 0.8);
  }
  
  .btn:hover a {
    color: #DBA111;
  }
  
  .btn:hover {
    color: #DBA111;
    padding: 20px;
  }

  /* ------ Game Rules Modal ------ */

.w3-modal-content {
    padding: 30px;
    background-color: rgba(3, 70, 148);
    color: #DBA111;
  }
  
  .w3-modal-content p {
    margin: 25px;
  }
  
  .w3-modal-content h3 {
    font-family: Bungee, sans-serif;
  }

  /* ------ footer ------ */

footer a {
    text-decoration: none;
    color: #000000;
  }

  /* ------ quiz interface ------ */

/* Score */
.score {
  font-size: 150%;
}

/* quiz questions */
#quiz{
  font-size: x-large;
  box-shadow: 0 6px 12px -2px rgba(#D1D3D4, .15);
  color: rgb(219, 161, 17, 0.9);
  font-family: Bungee, sans-serif;
}

#result-screen {
  display: none;
}

#score-result {
  font-size: x-large;
  color: rgb(219, 161, 17, 0.9);
  font-family: Bungee, sans-serif;
}